*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*colores*/
    --azul-gradient:#0B98FE;
    --azul-gradient-2:#056DB9;
    --black-opacity:#00000033;
    --white:#ffffff;
    --lemon-green: #68AD00;
    --grey: #868686;
 
}

/*RECTANGLE*/

.rectangle_1{
    height: 50vh;
}

.head_1{
    height: 100vh;
}

/*TEXTOS*/

.texts_1{
    margin: 90px;
    padding: 30px;
    max-width:70% ;
}


/*IMAGEN CHICA*/

.Image-didactical__1{
    max-width: 799px;
    min-width: 874px;
    min-height: 70%;
    right: -42px;
}


/*VIDEO CONTAINER*/

.video-container{
    width: 100vw;
}

.video-container iframe{
    width: 100%;
    height: 66vh;
    border-radius:0px;
    display: block;
    min-width:320px;

}

/*INFORMACIÓN*/
.information-1{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10rem;

}


.inf-c1{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.inf-c1 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 170px;

}
.inf-c1 p{
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
}

.inf-c2{
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.inf-c2 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 170px;
 
 }
 .inf-c2 {

    text-align: center;

 }
 .inf-c2 p{
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
}

 .inf-c3{
    grid-column: 3 / 4;
    grid-row: 2 / 2;

 }

 .inf-c3 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 170px;
 
 }

 .inf-c3 p{
    font-size: 1.8rem;
    text-align: center;
    width: 70%;

 }


/*CAROUSEL*/

.logo-carousel {
    height: 52vh;
}

.logo-carousel-inner{
    margin: 0;
}


.section2_marcas_1{
    justify-items: center;

}

.nuestros_aliados h1 {
    padding-top: 50px;
}

.grid_awards {
    max-width: 841px;
}


.vive_laex_container iframe{
    height: 60vh;
}


@media (min-width: 1140px)
{
    .rectangle_1{
        height: 100vh;
    }
    .Image-didactical__1{
        min-width: 1216px;
        min-height: 86%;
        right: -306px;

    }
    .texts_1{
        gap: 15px;
        margin-top:120px;
    }

    .texts_1 h1{
        font-size: 7.8rem;

    }
    .texts_1 p {
        font-size: 3rem;
    }

    .button_1{
        width: 307px;
        font-size: 3rem;
        margin-top: 26px;
        padding: 15px;
    }

    .video-container { 
        height: 100vh;
    }
    .video-container iframe{
        height: 100vh;

    }

    /*INFORMACIÓN*/
.information-1{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10rem;

}

.information-1:nth-child(n) > p:first-of-type {
font-size: 3rem;
}


.inf-c1{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.inf-c1 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 210px;

}
.inf-c1 p{
    font-size: 2rem;
    text-align: center;
    width: 70%;
}

.inf-c2{
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.inf-c2 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 210px;
 
 }
 .inf-c2 {

    text-align: center;

 }
 .inf-c2 p{
    font-size: 2rem;
    text-align: center;
    width: 210px;
}

 .inf-c3{
    grid-column: 3 / 4;
    grid-row: 2 / 2;

 }

 .inf-c3 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 210px;
 
 }

 .inf-c3 p{
    font-size: 2rem;
    text-align: center;
    width: 70%;

 }

 .logo-carousel-inner {
    display: flex;
    width: calc(118px * 16);
    animation: scroll 0s linear infinite;
    -webkit-animation: scroll 0s linear infinite;
    height: 300px;
    padding-top: 100px ;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
   

    
  }

  .logo-carousel {
    height: 65vh;
}

  .nuestros_aliados {
    height: 80vh;
}

.nuestros_aliados h1{
    padding-top: 60px;
    font-size: 5.8rem;
    line-height: 65px;

}
.nuestros_aliados strong {
    font-size: 5.8rem;
}

.section2_marcas_1{
    margin-top: 100px;
}
    
.section2_marcas_1 img{
    width: 100%;
    max-width:300px;
}

.section-2_rectangle__text h1 {
    font-size: 5.8rem;
    width: 93%;
    line-height: 68px;
    padding: 30px;
}

.grid_awards {
    max-width: 94%;
}

.reconocimientos h1 {
    font-size: 5.8rem;
    margin-left: 110px;
}

.modelos_negocio h1 {
    font-size: 5.8rem;
    margin-left: 110px;
}

.modelos_negocio span{
    margin-left: 110px;
}

.modelos_negocio{
    flex-direction: row;
    align-items: center;
    gap: 50px
}

.circulo_2 {
    
    width: 300px;
    height: 300px;
}

.modelos_negocio p {
    font-size: 2.3rem;
    width: 100%;
}
.modelos_negocio span{
    display:none;
}

.vive_laex_container iframe {
    height: 75vh;
}

.vive_laex_container h1 {
    font-size: 5.8rem;
}

.vive_laex_container strong {
    font-size: 5.8rem;
}



    

    

}