*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*colores*/
    --azul-gradient:#0B98FE;
    --azul-gradient-2:#056DB9;
    --black-opacity:#00000033;
    --white:#ffffff;
    --lemon-green: #68AD00;
    --grey: #868686;
 
}

/*RECTANGLE*/

.rectangle_1{
    height: 50vh;
}

.head_1{
    height: 100vh;
}

/*TEXTOS*/

.texts_1{
    margin: 90px;
    padding: 30px;
    max-width:70% ;
}


/*IMAGEN CHICA*/

.Image-didactical__1{
    max-width: 799px;
    min-width: 874px;
    min-height: 70%;
    right: -42px;
}


/*VIDEO CONTAINER*/

.video-container{
    width: 100vw;
}

.video-container iframe{
    width: 100%;
    height: 66vh;
    border-radius:0px;
    display: block;
    min-width:320px;

}

/*INFORMACIÓN*/
.information-1{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10rem;

}


.inf-c1{
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

.inf-c1 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 170px;

}
.inf-c1 p{
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
}

.inf-c2{
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

.inf-c2 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 170px;
 
 }
 .inf-c2 {

    text-align: center;

 }
 .inf-c2 p{
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
}

 .inf-c3{
    grid-column: 3 / 4;
    grid-row: 2 / 2;

 }

 .inf-c3 img{
   width: 100%;
   height: auto;
   margin: 0px;
   max-width: 170px;
 
 }

 .inf-c3 p{
    font-size: 1.8rem;
    text-align: center;
    width: 70%;

 }


/*CAROUSEL*/

.logo-carousel {
    height: 52vh;
}

.logo-carousel-inner{
    margin: 0;
}


.section2_marcas_1{
    justify-items: center;

}

.nuestros_aliados h1 {
    padding-top: 50px;
}

.grid_awards {
    max-width: 841px;
}


.vive_laex_container iframe{
    height: 60vh;
}
